@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap');

:root {
    --height: 200px;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: Arvo;
    color: hsl(0, 50%, 90%);
    min-height: 100vh;
    background-color: hsl(0, 0%, 15%);
}

.editor-textbox textarea::-webkit-scrollbar {
    opacity: 100%;
}

.editor-textbox textarea::-webkit-scrollbar-thumb {
    background-color: hsl(230, 20%, 50%);
    border-radius: 10px;
}

.editor-save button {
    font-family: inherit;
    border-radius: 5px;
    padding: 0.5em 1.5em 0.5em 1.5em;
    border: 4px solid hsl(0, 10%, 50%);
    margin: 1em 0 1em 0;
    color: hsl(0, 0%, 50%);
    font-size: 1.15em;
    background-color: hsl(0, 0%, 15%);
}

.editor-save button:hover {
    border-color: hsl(0, 50%, 90%);
    background: linear-gradient(30deg, hsl(0, 0%, 15%), white);
    background-size: 200% 200%;
    color: hsl(0, 50%, 90%);
    animation: Shine 2s ease-out infinite;
}
.editor-save button:active {
    color: hsl(0, 0%, 15%);
    outline: hsl(0, 50%, 90%) solid 2px;
    border: 2px solid hsl(0, 0%, 15%);
    background-color: hsl(0, 50%, 90%);
}

.editor-textbox textarea {
    overflow-y: auto;

    /* font-family: inherit; */
    line-height: 1.5;
    padding: 2em;
    color: hsl(0, 50%, 90%);
    border-radius: 15px;
    border-style: none;
    background-color: hsl(229, 22%, 10%);
    min-height: 60vh;
    width: 90%;
    margin: 0 auto;
}

.wrapper {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
}

.aside-left {
    grid-column: 1/3;
    min-height: 100vh;
}

.aside-messagebox li {
    padding-left: 1em;
    list-style-type: none;
    color: hsl(0, 50%, 90%);
    margin: 1em auto 1em auto;
    animation: fadeout 3.25s linear forwards;
}

.aside-messagebox ul {
    width: 100%;
}

.aside-right {
    grid-column: 11/13;
    padding: 1em;
}

.timer {
    margin-top: 0.5em;
    display: block;
    text-align: center;
}

.aside-messagebox h2 {
    font-size: 0.7em;
    font-weight: bold;
}

.container {
    border-left: 2px solid hsl(180, 100%, 50%);
    border-right: 2px solid aqua;
    min-height: 100vh;
    background-color: hsl(232, 30%, 15%);
    grid-column: 3/11;
    text-align: center;
}

h1,
.timer {
    text-shadow: 2px 2px darkred;
}

header h1 {
    margin: 1em 0 1em 0;
    text-transform: capitalize;
    font-weight: bold;
}

.cnw {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
}

.auth-form {
    height: 150px;
    width: 100%;
}

.auth-form input {
    min-width: none;
}

@keyframes fadeout {
    70% {
        opacity: 100%;
    }
    100% {
        opacity: 0%;
    }
}

.rollout {
    animation: rollout 0.5s ease-out both;
}

.rollin {
    animation: rollin 0.5s ease-out both;
}

.auth {
    margin-top: 1em;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}

.auth-button {
    width: 100%;
}

.auth-button button {
    border: 3px solid darkslategrey;
    border-radius: 5px;
    background-color: hsl(258, 9%, 70%);
    color: hsl(232, 30%, 15%);
    display: block;
    margin: 0 auto;
    width: 2em;
    height: 2em;
    transform: rotate(45deg);
}

.auth-button:hover {
    animation: counterclockwise45 ease-out 0.4s forwards;
}

.auth-button:hover .auth-button-span {
    animation: clockwise45 ease-out 0.4s forwards;
}

.auth-button:hover button {
    animation: expand ease-out 0.3s forwards;
}

.auth-button-span {
    font-weight: bold;
    display: block;
    transform: rotate(-45deg);
}

.auth-from .hidden {
    display: none;
}

form {
    box-sizing: border-box;
    background-color: hsl(232, 30%, 15%);
    box-shadow: 0px 0px 0px 3px hsl(180, 46%, 58%),
        3px 3px 0 3px hsl(180, 37%, 35%);
    border-radius: 5px;
    overflow: hidden;
    padding: 0.5em;
}

form input:not([type='submit']) {
    padding: 0.5em;
    min-width: none;
    background-color: hsl(229, 22%, 10%);
    border: 10px;
    color: hsl(0, 50%, 90%);
    border: 1px solid hsl(0, 50%, 90%);
    width: 100%;
}

form input[type='submit'] {
    font-family: inherit;
    border-radius: 5px;
    padding: 0.5em 0 0.5em 0;
    width: 10ch;
    border: 4px solid hsl(0, 10%, 50%);
    color: hsl(0, 0%, 50%);
    background-color: hsl(0, 0%, 15%);
}

@keyframes rollout {
    0% {
        filter: blur(0.2em);
        opacity: 0%;
    }
    100% {
        opacity: 100%;
        filter: blur(0em);
    }
}
@keyframes rollin {
    100% {
        filter: blur(0.2em);
        opacity: 0%;
    }
    0% {
        opacity: 100%;
        filter: blur(0em);
    }
}

@keyframes Shine {
    10% {
        background-position: 10% 0%;
    }
    50% {
        background-position: 100% 0%;
    }
    100% {
        background-position: 10% 0%;
    }
}

@keyframes clockwise45 {
    100% {
        transform: rotate(0deg);
    }
}

@keyframes counterclockwise45 {
    100% {
        transform: rotate(-45deg);
    }
}

@keyframes expand {
    100% {
        width: 100%;
    }
}
